*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
}
button {
  cursor: pointer;
  outline: none;
  border: 1px solid #333;
}
a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: #273041;
}

/* Login  */

p.alert-msg {
  text-align: center;
  color: rgb(201, 30, 30);
  margin: 0;
}

.log-in-container {
  border: 0.1rem rgba(0, 0, 0, 0.3) solid;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 15rem;
  padding: 2rem;
  padding-bottom: 4rem;
  width: 60rem;
  max-width: 80%;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
}

.log-in-container h2 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
  padding-top: 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.log-in-container form {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.log-in-container input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.log-in-container input:focus {
  outline: none;
}
.log-in-container input[type='text'],
.log-in-container input[type='password'] {
  margin-bottom: 2rem;
}

.log-in-container input[type='submit'] {
  background-color: rgba(22, 34, 70, 0.66);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.4s;
}

.log-in-container input[type='submit']:hover {
  background-color: rgba(10, 16, 33, 0.8);
}

/* product page  */

header {
  text-align: center;
  background-color: #273041;
  color: #fff;
  padding: 1rem 0;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5.5rem;
  z-index: 10;
}
header h2 {
  color: #fff;
}
header span {
  font-size: 1.2rem;
  color: #a5a5a5;
}

header span.span-outer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

header span.span-outer span.span-inner {
  color: #fff;
  margin-left: 0.4rem;
}

aside {
  position: fixed;
  left: 0;
  top: 4.5rem;
  bottom: -10rem;
  height: calc(100vh - 4.5rem);
  width: 20rem;
  overflow: hidden;
  background-color: #273041;
  color: #d1d1d1;
  padding-top: 5rem;
  z-index: 2;
  transition: all 0.4s;
}

.hidden {
  left: -20rem;
}

header #aside-toggle {
  position: absolute;
  height: 3rem;
  width: 4.5rem;
  left: 15.5rem;
  top: 5.5rem;
  padding: 0.5rem 0;
  z-index: 4;
  background-color: rgba(10, 16, 33, 1);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  transition: 0.4s all;
  border: rgba(255, 255, 255, 0.379) 0.1rem solid;
  box-shadow: 0 0 1rem rgba(10, 16, 33, 1);
}

#aside-toggle.hidden {
  left: 0;
}

header #aside-toggle:hover {
  opacity: 0.6;
}

header #aside-toggle img {
  height: 100%;
  transition: 0.4s transform;
}
header #aside-toggle.hidden img {
  transform: rotate(180deg);
}

aside a {
  color: #d1d1d1;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 4rem auto;
  justify-items: left;
  align-content: center;
  transition: 0.3s background-color;
  position: relative;
}

aside a:hover,
aside a.active {
  background-color: rgba(85, 85, 85, 0.3);
}

aside img {
  height: 2.2rem;
}

aside a.active::after {
  position: absolute;
  content: '';
  right: 0;
  top: 0.6rem;
  border-width: 1.6rem;
  border-style: solid;
  border-color: transparent #e1e1e1 transparent transparent;
}

.product-container {
  margin-left: 20rem;
  margin-top: 7rem;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  transition: all 0.4s;
}
.product-container.hidden {
  margin-left: 0;
}

.product-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.product-container-inner {
  border: rgba(0, 0, 0, 0.3) solid 0.1rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2rem;
  min-width: 60rem;
  position: relative;
}

.product-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: rgba(0, 0, 0, 0.3) 0.1rem solid;
}

.product-header-1 {
  margin-bottom: 1rem;
  justify-self: start;
}

.product-header-2 .product-header-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}

.product-header-1 form {
  display: grid;
  grid-template-columns: auto 10rem 10rem;
  justify-content: end;
  align-items: center;
}
form#search-form {
  justify-content: start;
}

.product-header-item form label {
  font-size: 1.3rem;
  margin-right: 0.6rem;
  opacity: 0.7;
}

.product-header-item form input,
.product-header-item form select {
  border: rgba(0, 0, 0, 0.3) solid 0.1rem;
  padding: 0.4rem 1rem;
}
.product-header-item form input {
  border-radius: 0.4rem 0 0 0.4rem;
}
.product-header-item form select {
  padding: 0.3rem 1rem;
  border-radius: 0 0.4rem 0.4rem 0;
  border-left: none;
}
.product-header-1 .product-header-item:nth-child(2) form {
  margin: 1rem 0;
}
.product-header-1 .product-header-item:nth-child(2) form select {
  border-radius: 0.4rem;
}
.product-header-item form input:focus,
.product-header-item form select:focus {
  outline: none;
}
#sort-select {
  border-radius: 0.4rem 0 0 0.4rem;
  border-left: rgba(0, 0, 0, 0.3) solid 0.1rem;
}
#sort-select-order {
  border-left: none;
  border-radius: 0 0.4rem 0.4rem 0;
  width: 12rem;
}

.product-header-2 .product-header-item button {
  border: rgba(0, 0, 0, 0.3) solid 0.1rem;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #00000048;
  background-color: rgb(222, 222, 222);
  color: rgba(10, 16, 33, 1);
  letter-spacing: 0.1rem;
  transition: all 0.4s;
}
.product-header-2 .product-header-item button:hover {
  background-color: #273041;
  color: #fff;
}

.product-header-2 .product-header-item:nth-child(2) {
  display: grid;
  justify-items: end;
}

#selected-count {
  border: rgb(255, 255, 255) 0.1rem solid;
  padding: 0.2rem 0.7rem;
  border-radius: 3rem;
  margin-left: 1rem;
}
#selected-count.active {
  background-color: #2b8eed;
  color: #fff;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list input {
  border-radius: 0.4rem;
  width: 10rem;
  border: rgba(0, 0, 0, 0.3) solid 0.1rem;
  padding: 0.4rem 1rem;
}
.product-list input:focus {
  outline: none;
}

#product-table {
  margin-top: 2rem;
  font-size: 1.4rem;
}
#product-table tr {
  background-color: #f2f2f2;
}
#product-table tr:hover {
  background-color: #ddd;
}

#product-table th {
  padding: 10px;
  text-align: center;
  background-color: #000000a5;
  background-color: #3a4861;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 3px solid #ddd;
}
.product-list td input {
  width: 7rem;
}

.product-select-btn {
  background-color: #2b8eed;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

.product-select-btn:focus,
.product-select-btn:hover {
  outline: none;
}

#selected-product-container {
  position: fixed;
  top: 5.5rem;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.913);
  z-index: 20;
  padding: 5rem;
  font-size: 1.6rem;
  overflow: auto;
}

#selected-product-container.hidden {
  display: none;
}

#selected-product-container #selected-product-container-inner {
  background-color: #e1e1e1;
  padding: 4rem;
  border-radius: 2rem;
  min-width: 60rem;
  position: relative;
  transition: transform 0.4s;
  transform: scale(1);
  padding-bottom: 10rem;
}

#selected-product-container-inner tbody input[type='number'],
#selected-product-container-inner tbody input[type='number']:focus,
#selected-product-container-inner tbody input[type='button'],
#selected-product-container-inner tbody input[type='button']:focus {
  outline: none;
}

#selected-product-container-inner tbody input[type='button'] {
  background-color: rgb(186, 66, 66);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  transition: all 0.3s;
}

#selected-product-container-inner tbody input[type='button']:hover {
  background-color: rgb(142, 29, 29);
}
#selected-product-container th,
#selected-product-container td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
}

#selected-product-container-inner #cross-btn {
  border: 1px solid rgba(30, 30, 30, 0.468);
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 3rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: transparent;
  transition: 0.3s;
}

#selected-product-container-inner #cross-btn:hover {
  background-color: rgba(30, 30, 30, 0.468);
}

#confirm-sale {
  padding: 0.8rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  background-color: #273041;
  border: 1px solid #273041;
  color: #fff;
  transition: all 0.3s;
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}

#confirm-sale:hover {
  background-color: #e1e1e1;
  color: #164672;
  border: 1px solid #164672;
}

/* Dashboard  */
#dashboard-container {
  background-color: #fff;
  padding: 0 2rem 2rem;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
nav ul li {
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
  cursor: pointer;
  border: #e1e1e1 solid 0.1rem;
  border-bottom: #777 solid 0.1rem;
  transition: all 0.3s;
  border-radius: 0.5rem 0.5rem 0 0;
  user-select: none;
}

nav ul li.active {
  border: solid #777 0.1rem;
  border-bottom: none;
  background-color: #fff;
}

nav ul li:first-child.active {
  border-left-color: #fff;
  border-top-left-radius: 0;
}
nav ul li:last-child.active {
  border-right-color: #fff;
  border-top-right-radius: 0;
}

nav ul li:hover {
  opacity: 0.7;
}

/* Add Product  */

.add-product-option {
  margin: 1rem auto;
  text-align: center;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

.add-product-option button {
  border: rgba(0, 0, 0, 0.3) 0.1rem solid;
  padding: 1rem 2rem;
  margin-bottom: -0.1rem;
  transition: all 0.3s;
  user-select: none;
}

.add-product-option button:hover,
.add-product-option button.active {
  background-color: #3a4861;
  color: #fff;
}

.add-product-option button#new-product {
  margin-right: -0.3rem;
  border-top-left-radius: 0.5rem;
  border-right: none;
}

.add-product-option button#existing-product {
  border-top-right-radius: 0.5rem;
  border-left: none;
}

.product-container-inner.add-product-container-inner {
  width: 60rem;
  max-width: 90%;
  margin: 0 auto;
}
.add-product-container input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.add-product-container input:focus {
  outline: none;
}
.add-product-container input {
  margin-bottom: 1.5rem;
}

.add-product-container input[type='submit'] {
  background-color: rgba(22, 34, 70, 0.66);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.4s;
}

.add-product-container input[type='submit']:hover {
  background-color: rgba(10, 16, 33, 0.8);
}

.add-product-container .disabled-input {
  display: grid;
  grid-template-columns: auto 1fr;
}
.add-product-container .disabled-input label {
  margin-right: 3rem;
  margin-top: 0.3rem;
}
.add-product-container .disabled-input input {
  padding: 0;
  padding: 0.3rem 1rem;
}

/* Log out  */

.logout-outer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#logout-btn {
  padding: 1rem 3rem;
  font-size: 1.7rem;
  margin: 2rem 0;
  border-radius: 1rem;
  border: rgba(113, 13, 13, 0.879) solid 0.1rem;
  color: #000;
  background-color: #fff;
  transition: all 0.4s;
}

#logout-btn:hover {
  background-color: rgba(113, 13, 13, 0.879);
  color: #fff;
}
